@model EssexBooking.Models.Cart
<div class="cart">
<div>Your Cart</div>
    <table>
        @foreach (var booking in Model.GetBookings()) {

                <tr temp_id='@(booking.id)'>
                    <td>
                        @Html.DisplayFor(modelItem => booking.Hotel.name)
                    </td>
                    <td>
                        <button class="remove">remove</button>
                    </td>

                </tr>

        }
    </table>
    <br class="clear" />
@if (!Model.isEmpty())
{
    <a class="proceed" href="@Url.Action("Index", "Booking")">Book Now</a>
}
<br class="clear" />
</div>

<script type="text/javascript">
    $(".proceed").button({
        icons: {
            primary: "ui-icon-cart"
        }
    });
    $(".remove").button({
        icons: {
            primary: "ui-icon-trash"
        }
    });

</script>