@model EssexBooking.Models.Cart
<div class="cart">
<h3>Your Cart</h3>
    <table>
        @foreach (var booking in Model.bookings) {

                <tr temp_id='@(booking.Key)'>
                    <td>
                        @Html.DisplayFor(modelItem => booking.Value.Hotel.name)
                    </td>
                    <td>
                        <button class="remove">remove</button>
                    </td>

                </tr>

        }
    </table>
<a class="proceed" href="@Url.Action("Index","Booking")">Proceed to booking</a>
</div>
