@using EssexBooking.Models
@model Dictionary<int, ExtraBooking>
<div class="extrabookingcart">
<h3>Your Extra Cart</h3>
    <table>
    <tr>
        
        <th>Number</th>
        
    </tr> 

      
        @foreach (var extrabooking in Model) {
        
                <tr extratemp_id='@extrabooking.Key'>
                    <td>@extrabooking.Value.participants</td>                  

                </tr>

        }
    </table>
</div>