@model int
   @for (var i = 0; i < Model; i++)
   {
       <label>First Name: </label>
       <input  type="text"/>
       <br />
       <label>Last Name: </label>
       <input  type="text"/>
       <br />
       <label>Passport Number: </label>
       <input  type="text"/>
       <br />
   }
