@model EssexBooking.Models.Booking

@{
    string prefix = Model.temp_id.ToString();
}
<div class="passenger">
<label>First Name: </label><input  type="text"/><br />
<label>Last Name: </label><input  type="text"/><br />
<label>Passport Number: </label><input  type="text"/><br />
</div>