@model EssexBooking.Models.Booking
  
<div class="formField">        
<h4 style="display: inline;">Single Rooms</h4>
@Html.DropDownListFor(model=> model.single_rooms, new SelectList(Enumerable.Range(0, 20)))
</div>
<div class="formField">        
<h4 style="display: inline;">Double Rooms</h4>
@Html.DropDownListFor(model=> model.double_rooms, new SelectList(Enumerable.Range(0, 20)))
</div>

<script type="text/javascript">
/*
    $(function () {
        $("[name=rooms]").change(function () {
            $(this).closest(".bookingForm").addClass("addDoubles");
            setDoubles($(this).closest("[temp_id]").attr("temp_id"), $(this).val(), $(this).closest(".bookingForm").find("[name=guests]").val(), function (resp) {
                $(".bookingForm.addDoubles").find(".doubles").html(resp);
                $(".bookingForm.addDoubles").removeClass("addDoubles");
            });
        });
    });
    */
</script>