@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Donec cursus adipiscing magna porta volutpat. Curabitur congue enim vitae tortor cursus eget pellentesque risus dignissim. Proin pulvinar, orci ut vulputate dictum, est dui sodales neque, vitae vehicula purus turpis at elit. Mauris sed mi at justo faucibus eleifend. Duis odio turpis, vestibulum vitae faucibus quis, sodales a neque. Sed vel arcu ac magna vulputate aliquet. Quisque faucibus congue lorem, vitae accumsan dui egestas eu. Ut nulla urna, mollis quis auctor in, rutrum sed elit. Vestibulum eget justo diam. Ut interdum, odio a lacinia pellentesque, nunc libero tincidunt tortor, non congue massa nunc et ante. 
</p>
