@model IEnumerable<EssexBooking.Models.TravelType>

@{
    ViewBag.Title = "Index";
}

<h2>Travel options for the resorts</h2>

<table>
    <tr>
        <th>
            name
        </th>
        <th>
            price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
    </tr>
}

</table>
