@model EssexBooking.Models.TravelType

@{
    ViewBag.Title = "Deleting a Travel Type";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TravelType</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">Available Days</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.available_days)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
