@model EssexBooking.Models.Hotel

@{
    ViewBag.Title = "Deleting a Hotel";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Hotel</legend>

    <div class="display-label">Resort</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resort.name)
    </div>

    <div class="display-label">HotelType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelType.name)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
