@model EssexBooking.Models.Cart

@{
    ViewBag.Title = "Booking details";
}

@section extraHead
{

<script type="text/javascript" src="/Scripts/AjaxProxy.js"></script>
<script type="text/javascript">
    $(function () {
        $(".extra_booking_date").datepicker({
            showOn: "both", buttonImage: "../../Content/images/calendar.gif",
            buttonImageOnly: true,
            minDate: 0,
            maxDate: "+1Y",
            dateFormat: 'mm dd yy',
            firstDay : 1
        });

        $(".start_date").datepicker({
            minDate: 0,
            maxDate: "+1Y",
            dateFormat: 'mm dd yy',
            firstDay: 1, 
            defaultDate: $(".start_date").attr("date"), 
            beforeShowDay: function (date) {

                var selected = $(this).closest(".bookingForm").find(".start_date").val().toString();
                var selectedDate = selected.split(" ");
                var dateSelected = new Date(selectedDate[2], (selectedDate[0] - 1), selectedDate[1]);
                var range = $(this).closest(".bookingForm").find(".duration input:checked").val();
                var endDate = new Date(dateSelected);
                endDate.setDate(endDate.getDate() + parseInt(range));
                var dateC = "";

                if (range != null && endDate > date && date > dateSelected) {
                    dateC = "ui-state-active";

                }
                return [true, dateC];
            },
            onSelect: function (dateText, inst) {
                var dateArray = dateText.split(" ");
                var date = new Date(dateArray[2], (dateArray[0] - 1), dateArray[1]);
                if (date.getDay() != 3 && date.getDay() != 6) {
                    $(this).closest(".bookingForm").find("input[value=2]").button({ "disabled": true });
                    $(this).closest(".bookingForm").find("input[value=1]").attr("checked", true);
                    $(this).closest(".bookingForm").find(".radioset").buttonset("refresh");
                } else {
                    $(this).closest(".bookingForm").find("input[value=2]").button({ "disabled": false });
                }
            }
        });


        $(".radioset").buttonset();

        $(".duration input").change(function () { $(".start_date").datepicker("refresh"); });

        displayExtraCart = function (resp) {
            $(".addExtra .miniextracart .extrabookingcart").removeClass("addExtra").replaceWith(resp);
        };

        $(".addExtraToBooking").click(function () {
            $(this).closest(".bookingForm").addClass("addExtra");

            var extra_id = $(this).closest("[data-extra_id]").data("extra_id");

            var number = $(this).closest("tr").find("select.participant_number").val();
            var extra_date = $(this).closest("tr").find(".extra_booking_date").val();
            var booking_id = $(this).closest("[booking_id]").attr("booking_id");
            AddExtraToBooking(booking_id, extra_id, number, extra_date, displayExtraCart);

        });

        $("[name=guests]").change(function () {
            $(this).closest(".bookingForm").addClass("addGuests");
            $(this).closest(".bookingForm").addClass("addRooms");
            $(this).closest(".bookingForm").addClass("addDoubles");
            setGuests($(this).closest("[booking_id]").attr("booking_id"), $(this).val(), function (resp) {
                //$(".bookingForm.addGuests").find(".passengers").html(resp);
                $(".bookingForm.addGuests").removeClass("addGuests");
            });
            setRooms($(this).closest("[booking_id]").attr("booking_id"), $(this).val(), function (resp) {
                $(".bookingForm.addRooms").find(".rooms").html(resp);
                $(".bookingForm.addRooms").removeClass("addRooms");
            });
            setDoubles($(this).closest("[booking_id]").attr("booking_id"), $(this).closest(".bookingForm").find("[name=rooms]").val(), $(this).val(), function (resp) {
                $(".bookingForm.addDoubles").find(".doubles").html(resp);
                $(".bookingForm.addDoubles").removeClass("addDoubles");
            });
        });

        $(".saveAll").click(function () {
            $(".bookingForm").each(function () {
                var form = $(this);
                UpdateBooking({
                    booking_id: form.attr("booking_id"),
                    start_date: form.find(".start_date").val(),
                    duration: form.find(".duration input:checked").val(),
                    guests: form.find("select[name=guests]").val(),
                    travel_type_id: form.find(".travel_type input:checked").val()

                },
                function (resp) {
                    if (resp.success) {
                        $(".bookingForm[booking_id='" + resp.id + "']").addClass("saved");
                        if ($(".bookingForm.saved").length == $(".bookingForm").length) {
                            window.location = "/Booking/Passengers"
                        }
                    }
                    else {
                        alert(resp.errors);
                    }
                });
            });
        });

    });
</script>
}

<h2>Booking Details</h2>
@foreach (var b in Model.GetBookings())
{
   @Html.Partial("_BookingFormPartial", b)
}

<button class="saveAll">Proceed to Passenger info</button>