@model EssexBooking.Models.Cart

@{
    ViewBag.Title = "Index";
}

@section extraHead
{

<script type="text/javascript" src="/Scripts/AjaxProxy.js"></script>
<script type="text/javascript">
    $(function () {
        $(".extra_booking_date").datepicker({ showOn: "button", buttonImage: "../../Content/images/calendar.gif", buttonImageOnly: true,
            minDate: 0, maxDate: "+1Y", dateFormat: 'dd-mm-yy'
            //      onSelect: function (dateText, inst) {
            //     var extra_date = new Date(dateText);
            ///return extra_date;
            // }
        });

        $(".start_date").datepicker({ minDate: 0, maxDate: "+1Y", dateFormat: 'dd/mm/yy',
            beforeShowDay: function (date) {
                var dateSelected = new Date($(this).closest(".bookingForm").find(".start_date").val());
                var range = $(this).closest(".bookingForm").find(".duration input:checked").val();
                var endDate = new Date(dateSelected);
                var dateC = "";
                endDate.setDate(endDate.getDate() + parseInt(range));

                if (range != null && endDate > date && date > dateSelected) {
                    dateC = "ui-state-active";

                }
                return [true, dateC];
            },
            onSelect: function (dateText, inst) {
                var date = new Date(dateText);
                if (date.getDay() != 3 && date.getDay() != 6) {
                    $(this).closest(".bookingForm").find("input[value=2]").button({ "disabled": true });
                    $(this).closest(".bookingForm").find("input[value=1]").attr("checked", true);
                    $(this).closest(".bookingForm").find(".radioset").buttonset("refresh");
                } else {
                    $(this).closest(".bookingForm").find("input[value=2]").button({ "disabled": false });
                }
            }
        });

        $(".radioset").buttonset();

        $(".bookingForm .save").click(function () {
            var form = $(this).closest(".bookingForm");
            UpdateBooking({
                temp_id: form.attr("temp_id"),
                start_date: form.find(".start_date").val(),
                duration: form.find(".duration input:checked").val(),
                guests: form.find("select[name=guests]").val(),
                travel_type_id: form.find(".travel_type input:checked").val()

            },
            function (resp) { console.log("ok"); })

        });
        $(".duration input").change(function () { $(".start_date").datepicker("refresh"); });

        displayExtraCart = function (resp) {
            $("#miniextracart .extrabookingcart").replaceWith(resp);
        };

        $(".addExtraToBooking").click(function () {
            var extra_id = $(this).closest("[data-extra_id]").data("extra_id");

            var number = $(this).closest("tr").find("select.participant_number").val();
            var extra_date = $(this).closest("tr").find(".extra_booking_date").val();
            var temp_id = $(this).closest("[temp_id]").attr("temp_id");
            AddExtraToBooking(temp_id, extra_id, number, extra_date, displayExtraCart);

        });

        $("[name=guests]").change(function () {
            console.log("changed");
            $(this).closest(".bookingForm").addClass("addGuests");
            setGuests($(this).closest("[temp_id]").attr("temp_id"), $(this).val(), function (resp) {
                $(".bookingForm.addGuests").find(".passenger").html(resp);
                $(".bookingForm.addGuests").removeClass("addGuests");
                console.log("ok");
            });
        });
    });
</script>
}

<h2>Index</h2>
@foreach (var b in Model.GetBookings())
{
   @Html.Partial("_BookingFormPartial", b)
}

<div>
    <button class="ui-button ui-button-text-icon-primary book-button">
        <span class="ui-button-icon-primary ui-icon ui-icon-cart"></span>
        <span class="ui-button-text">Book Now!</span>
    </button>
</div>